@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Ubuntu Font Classes */
.normal-font {
font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Bree Serif class to apply where needed */
.heading-font {
  font-family: "Luckiest Guy", serif;
  font-weight: 400;
  font-style: normal;
}